{{define "access_logs.html" -}}
{{template "header.html" . -}}
{{template "sidebar.html" . -}}
<div class="pusher">
{{template "admin-left-menu.html" . -}}
{{template "admin-top-menu.html" . -}}
<div id="admin-right-content" class="ui basic segment">  
  <div class="ui grid stackable padded">
    <div class="column">
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th colspan="4">
              <form id="form-search-logs" action="/admin/access_logs" method="get">
              <div class="ui labeled action input">
                <div class="ui label">{{.prefix}}</div>
                <input name="url" type="text" value="{{.url}}" placeholder="短链接">                
              </div>
              <button class="ui teal right labeled icon button" type="submit"><i class="search icon"></i>查询</button>                
              <a class="ui teal right labeled icon button" href="/admin/access_logs"><i class="undo alternate icon"></i>重置</a>                              
            </form>
            </th>
          </tr>
          <tr>
            <th>短链接</th>
            <th class="center aligned">访问时间</th>
            <th class="center aligned">访问IP</th>
            <th>UserAgent</th>
          </tr>
        </thead>
        <tbody>
          {{range .logs}}          
          <tr>            
            <td class="collapsing"><a href="{{$.prefix}}{{.ShortUrl}}" target="_blank">{{.ShortUrl}}</a></td>            
            <td class="center aligned collapsing">{{.AccessTime | date "2006-01-02 15:04:05"}}</td>
            <td class="center aligned collapsing">{{.Ip.String}}</td>
            <td>{{.UserAgent.String}}</td>                                  
          </tr>
          {{end}}
        </tbody>
        <tfoot>
          <tr>            
            <th colspan="4" class="center aligned">              
              {{if not .first_page}}
              <a class="ui small labeled icon button" href="/admin/access_logs?url={{.url}}&page={{sub .page 1}}"><i class="arrow alternate circle left outline icon"></i> 上一页</a>
              {{end}}
              {{if not .last_page}}
              <a class="ui small labeled icon button" href="/admin/access_logs?url={{.url}}&page={{add .page 1}}"><i class="arrow alternate circle right outline icon"></i> 下一页</a>              
              {{end}}              
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div><!--end fo grid-->
</div> 
</div><!--end of pusher-->
{{end -}}