{{define "404.html" -}}
{{template "header.html" .}}
<div class="ui inverted borderless large menu">
  <div class="ui container">
    <a class="ui inverted header item" target="_self" href="https://gitee.com/barat/ohurlshortener">          
        <div class="content">ohUrlShortener</div>           
    </a>                 
  </div>
</div>
<div class="ui top aligned grid" style="height: calc(100% - 160px); margin: 0;">
  <div class="ui center aligned column">    
    <div class="ui statistic">
      <div class="value">404</div>
      <div class="label">Error</div>
    </div>    
      <p>{{ .message }}</p>
  </div>
</div>
{{template "footer.html" .}}
{{end -}}