{{define "footer.html" -}}
<div class="ui inverted vertical bottom attached footer segment" style="max-height: 100px; width: 100%;">
  <div class="ui center aligned container">
    <p>Copyright <i class="copyright outline icon"></i>2022 巴拉迪维 版权所有 
      <a href="https://gitee.com/barat/ohurlshortener" target="_blank">Gitee</a>
      <a href="https://github.com/barats/ohurlshortener" target="_blank">Github</a>
    </p>
    <p><a href="https://icp.chinaz.com/home/info?host=barats.cn" target="_blank">粤ICP备18042422号-1</a></p>    
  </div><!--end of container-->
</div><!--end of footer segment-->
</body>
</html>
{{end -}}