{{define "footer.html" -}}
<div class="ui inverted vertical bottom attached footer segment" style="max-height: 60px; width: 100%;">
  <div class="ui center aligned container">
    <p>Copyright <i class="copyright outline icon"></i>{{now | date "2006" }} 巴拉迪维 版权所有 
      <a href="https://gitee.com/barat/ohurlshortener" target="_blank">Gitee</a>
      <a href="https://github.com/barats/ohurlshortener" target="_blank">Github</a>
    </p>
  </div><!--end of container-->
</div><!--end of footer segment-->
</body>
</html>
{{end -}}